body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 70px;
}
.orange-color{
    color:orange;
}
h3{
    font-size: 30px;
}
.sky-blue{
    color:skyblue
}
section{
    display: flex;
}
.half-width{
    width: 50%;
}