body{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
h1{
    font-size: 70px;
}
.orange-color{
    color:orange;
}
h3{
    font-size: 30px;
}
.sky-blue{
    color:skyblue
}
section{
    display: flex;
}
.half-width{
    width: 80%;
    padding-left: 3%;
}
.half-width img{
    width: 65%;
    padding-right: 10%;
}